<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button style="--color:white" (click)="presentSettings($event)">
        <ion-icon name="settings-sharp"></ion-icon>      </ion-button>    
    </ion-buttons>
    <ion-title>Futurium 2021</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            Verbunden mit der senseBox; Übertrage Daten an die openSenseMap
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-icon style='font-size: 185px;'name="globe"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <span style="font-size:100px;color:lightgray">{{loadingString}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            Letzte Messung um:
            <span *ngIf="lastTimestamp" [routerLink]="'/message/' + 0" style="color:blue">{{lastTimestamp}}</span>
            <span *ngIf="!lastTimestamp">Messung läuft...</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            Letzte Übertragung zur openSenseMap:
            <span *ngIf="lastOSMTimestamp" style="color:green">{{lastOSMTimestamp}}</span>
            <span *ngIf="!lastOSMTimestamp">Noch keine Übertragung zur openSenseMap</span>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <div class="ion-text-center">
          <ion-button (click)="testFunction()">upload to osm</ion-button>
          <ion-button (click)="addMessage()">add message</ion-button>
        </div>
      </ion-row> -->
    </ion-grid>
  </div>

</ion-content>